.mt10{
    margin-top: 10px !important;
}
.mt60{
    margin-top: 60px;
}
.mt80{
    margin-top: 80px !important;
}
.mb10{
    margin-bottom: 10px;
}
.w60{
    width: 60% !important;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.color{
    color: #00b5c3;
}
.textCenter{
    text-align: center;
}
.font12{
    font-size: 12px;
}
.font20{
    font-size: 20px;
}
.font14{
    font-size: 14px !important;
}
.pd10{
    padding:10px;
}

.write{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.point{
    cursor: pointer;
}

.top {
    h3,
    p {
      text-align: center;
      color: #00b5c3;
      font-weight: 400;
      padding: 10px 0;
    }
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    .border {
      border-bottom: 1px solid #00b5c3;
      width: 15%;
      margin: 0 auto;
    }
  }
